@tailwind base;
@tailwind components;

.social-tab {
  @apply bg-gray-200 hover:bg-gray-300 flex flex-wrap justify-center content-center lg:w-80 w-full md:h-14 h-12 rounded md:my-8 lg:my-4 my-8 text-gray-900 text-xl md:text-xl align-middle font-medium md:font-normal mx-4;
}

@tailwind utilities;

body {
  background: #27272f;
  color: #ececec;
}
.iframe-container-yt{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container-yt iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}